/*Type styles*/
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #222;
    color: #ddd;
    margin: 20px;
}

h1, h2 {
    color: #fff;
}

input {
    color: #000;
    font-size: 12px;
    width: 40px;
}

/*Class styles*/
.btn {
    color: black;
}

.filterlabel {
    width: 160px;
    color: #fff;
    font-weight: 400;
    color: #ddddee;
    font-style: normal;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #334;
  /*font-weight: bold;*/
}

thead tr:hover {}

.panel {
    width: 50%;
}

.panel-collapse {
    background-color: #445;
}

.panel > .panel-heading {
    background-color: #ddddee;
}

/*Id Styles*/
#tablediv {
    padding-bottom: 100px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

#tablediv tbody td {
    font-size: 12px;
}

#tablediv thead td {
    font-size: 16px;
    padding-bottom: 10px;
}

#tablediv th, td {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    white-space: nowrap;
}

#ruletextarea {
    color: #222;
    font-size: 12px;
    width: 50%;
    height: 150px;
    background-color: #efefef;
}

#filters {
    float: left;
    width: 100%;
}

#filters input {
    color: #000;
}

#fieldSelectors {
    float: left;
    clear: none;
    height: auto;
}

#fieldSelectors div {
    float: left;
    width: 25%;
    clear: none;
    padding: 0px;
}

#fieldSelectors div:hover {
    float: left;
    clear: none;
    background-color: #334;
}

#fieldSelectors input {
    float: left;
    height: 16px;
    width: 16px;
}

#fieldSelectors .label-default {
    background-color: #445;
}
