body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #222;
    color: #ddd;

}

span {
    font-style: italic;
}

tr:hover {
    color: #FFF;
    background-color: #444;
}

table {
    width: 1000px;
    font-size: 12px;
}